<!-- Fixed navbar -->
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="<%= image_path('logo.png') %>"></a>
      </div>
      <div class="navbar-collapse collapse navbar-right">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li class="active"><a href="/about">Novo Pacheco</a></li>
          <li><a href="/marcas">Marcas</a></li>
          <li><a href="/contacto">Contacto</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>

  <% if flash.notice %>
    <div class="alert alert-success">
      <%= flash.notice %>  
    </div>
  <% end %>
  <% if flash.alert %>
    <div class="alert alert-danger">
      <%= flash.alert %>  
    </div>
  <% end %>

<!-- *****************************************************************************************************************
   BLUE WRAP
   ***************************************************************************************************************** -->
  <div id="blue">
      <div class="container">
      <div class="row">
        <h3>Nuestra historia</h3>
      </div><!-- /row -->
      </div> <!-- /container -->
  </div><!-- /blue -->

   
  <!-- *****************************************************************************************************************
   AGENCY ABOUT
   ***************************************************************************************************************** -->

   <div class="container mtb">
    <div class="row">
      <div class="col-lg-6">
        <img class="img-responsive" src="<%= image_path('agency.jpg') %>" alt="">
      </div>
      
      <div class="col-lg-6">
        <h4>Novo Pacheco Shopping</h4>
        <p>Nuestro Shopping, se encuentra ubicado en General Pacheco, sobre <strong>Av. Boulogne Sur Mer 1275</strong>, frente al acceso principal de Pacheco Golf y a metros del Talar de Pacheco, en un área única por su entorno con accesos fáciles y rápidos, circundado por barrios cerrados, clubes de campo y zonas residenciales.</p>
        <p>Novo Pacheco, ofrece múltiples alternativas, tanto gastronómicas, de recreación y salud, entre otras. Valoramos la seguridad y el confort, todas nuestras propuestas tienen como objetvo, acompañar la calidad de vida esperada por los vecinos de la zona. Nuestro shopping, ofrece las mejores condiciones para reunirse y disfrutar con amigos, pasear con la familia o divertirse con los niños. Novo Pachoco Shopping, es un lugar de encuentros.</p>
        <p>El shopping se encuentra distribuido en dos plantas, cuenta con una gran diversidad de locales comerciales, que van desde un supermercado Jumbo Premium, restaurantes, locales de ropa, agencia de taxis, rapipago, entre otros, además, su amplio estacionamiento, brinda mayor seguridad y confort a nuestros vecinos.</p>
        <a href="/contacto"><button class="btn btn-lg btn-primary" role="button">Contactar</button></a>
      </div>
    </div><!--/row -->
   </div><!--/container -->


   <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
  <div id="blueimp-gallery" class="blueimp-gallery">
      <!-- The container for the modal slides -->
      <div class="slides"></div>
      <!-- Controls for the borderless lightbox -->
      <h3 class="title"></h3>
      <a class="prev">‹</a>
      <a class="next">›</a>
      <a class="close">×</a>
      <a class="play-pause"></a>
      <ol class="indicator"></ol>
      <!-- The modal dialog, which will be used to wrap the lightbox content -->
      <div class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" aria-hidden="true">&times;</button>
              <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body next"></div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default pull-left prev">
                  <i class="glyphicon glyphicon-chevron-left"></i>
                  Anterior
              </button>
              <button type="button" class="btn btn-primary next">
                  Siguiente
                  <i class="glyphicon glyphicon-chevron-right"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
  </div>


<!--Prueba-->
  <div id="portfoliowrap">
        <div class="portfolio-centered">
          <h3>Galería de fotos</h3>
            <div class="recentitems portfolio">
        <div class="portfolio-item graphic-design">
          <div class="he-wrap tpl6">
            <a href="<%= image_path('galeria/g1.jpg') %>" title="Fachada" data-gallery>
                <img src="<%= image_path('galeria/g1.jpg') %>" alt="Fachada">
              </a>
          </div><!-- he wrap -->
        </div><!-- end col-12 -->

        <div class="portfolio-item graphic-design">
          <div class="he-wrap tpl6">
            <a href="<%= image_path('galeria/g4.jpg') %>"  title="Patio" data-gallery>
              <img src="<%= image_path('galeria/g4.jpg') %>" alt="Patio">
          </a>
          </div><!-- he wrap -->
        </div><!-- end col-12 -->      

        <div class="portfolio-item graphic-design">
          <div class="he-wrap tpl6">
            <a href="<%= image_path('galeria/g5.jpg') %>" title="Planta baja" data-gallery>
              <img src="<%= image_path('galeria/g5.jpg') %>" alt="Planta baja">
          </a>
          </div><!-- he wrap -->
        </div><!-- end col-12 --> 

        <div class="portfolio-item graphic-design">
          <div class="he-wrap tpl6">
            <a href="<%= image_path('galeria/g6.jpg') %>"  title="Muestra" data-gallery>
              <img src="<%= image_path('galeria/g6.jpg') %>" alt="Muestra">
          </a>
          </div><!-- he wrap -->
        </div><!-- end col-12 -->

        <div class="portfolio-item graphic-design">
          <div class="he-wrap tpl6">
            <a href="<%= image_path('galeria/g7.jpg') %>"  title="Muestra2" data-gallery>
              <img src="<%= image_path('galeria/g7.jpg') %>" alt="Muestra2">
          </a>
          </div><!-- he wrap -->
        </div><!-- end col-12 -->  

        <div class="portfolio-item graphic-design">
          <div class="he-wrap tpl6">
            <a href="<%= image_path('galeria/g8.jpg') %>"  title="Interior" data-gallery>
              <img src="<%= image_path('galeria/g8.jpg') %>" alt="Interior">
          </a>
          </div><!-- he wrap -->
        </div><!-- end col-12 -->

        <div class="portfolio-item graphic-design">
          <div class="he-wrap tpl6">
            <a href="<%= image_path('galeria/g9.jpg') %>"  title="Juegos" data-gallery>
              <img src="<%= image_path('galeria/g9.jpg') %>" alt="Juegos">
          </a>
          </div><!-- he wrap -->
        </div><!-- end col-12 -->

        <div class="portfolio-item graphic-design">
          <div class="he-wrap tpl6">
            <a href="<%= image_path('galeria/g10.jpg') %>"  title="Escalera" data-gallery>
              <img src="<%= image_path('galeria/g10.jpg') %>" alt="Escalera">
          </a>
          </div><!-- he wrap -->
        </div><!-- end col-12 -->

        <div class="portfolio-item graphic-design">
          <div class="he-wrap tpl6">
            <a href="<%= image_path('galeria/g11.jpg') %>"  title="Planta alta" data-gallery>
              <img src="<%= image_path('galeria/g11.jpg') %>" alt="Planta alta">
          </a>
          </div><!-- he wrap -->
        </div><!-- end col-12 -->

        <div class="portfolio-item graphic-design">
          <div class="he-wrap tpl6">
            <a href="<%= image_path('galeria/g12.jpg') %>"  title="Planta alta" data-gallery>
              <img src="<%= image_path('galeria/g12.jpg') %>" alt="Planta alta">
          </a>
          </div><!-- he wrap -->
        </div><!-- end col-12 -->

        <div class="portfolio-item graphic-design">
          <div class="he-wrap tpl6">
            <a href="<%= image_path('galeria/g13.jpg') %>"  title="Planta alta" data-gallery>
              <img src="<%= image_path('galeria/g13.jpg') %>" alt="Planta alta">
          </a>
          </div><!-- he wrap -->
        </div><!-- end col-12 -->

        <div class="portfolio-item graphic-design">
          <div class="he-wrap tpl6">
            <a href="<%= image_path('galeria/g14.jpg') %>"  title="Planta alta" data-gallery>
              <img src="<%= image_path('galeria/g14.jpg') %>" alt="Planta alta">
          </a>
          </div><!-- he wrap -->
        </div><!-- end col-12 -->  

        <div class="portfolio-item graphic-design">
          <div class="he-wrap tpl6">
            <a href="<%= image_path('galeria/g15.jpg') %>"  title="Banner" data-gallery>
              <img src="<%= image_path('galeria/g15.jpg') %>" alt="Banner">
          </a>
          </div><!-- he wrap -->
        </div><!-- end col-12 -->

        <div class="portfolio-item graphic-design">
          <div class="he-wrap tpl6">
            <a href="<%= image_path('galeria/g16.jpg') %>"  title="Escalera" data-gallery>
              <img src="<%= image_path('galeria/g16.jpg') %>" alt="Escalera">
          </a>
          </div><!-- he wrap -->
        </div><!-- end col-12 -->

        <div class="portfolio-item graphic-design">
          <div class="he-wrap tpl6">
            <a href="<%= image_path('galeria/g17.jpg') %>"  title="Escalera" data-gallery>
              <img src="<%= image_path('galeria/g17.jpg') %>" alt="Escalera">
          </a>
          </div><!-- he wrap -->
        </div><!-- end col-12 -->

        <div class="portfolio-item graphic-design">
          <div class="he-wrap tpl6">
            <a href="<%= image_path('galeria/g18.jpg') %>"  title="Escalera" data-gallery>
              <img src="<%= image_path('galeria/g18.jpg') %>" alt="Escalera">
          </a>
          </div><!-- he wrap -->
        </div><!-- end col-12 -->

        <div class="portfolio-item graphic-design">
          <div class="he-wrap tpl6">
            <a href="<%= image_path('galeria/g19.jpg') %>"  title="Estacionamiento" data-gallery>
              <img src="<%= image_path('galeria/g19.jpg') %>" alt="Estacionamiento">
          </a>
          </div><!-- he wrap -->
        </div><!-- end col-12 -->

        <div class="portfolio-item graphic-design">
          <div class="he-wrap tpl6">
            <a href="<%= image_path('galeria/g20.jpg') %>"  title="Estacionamiento" data-gallery>
              <img src="<%= image_path('galeria/g20.jpg') %>" alt="Estacionamiento">
          </a>
          </div><!-- he wrap -->
        </div><!-- end col-12 -->

        <div class="portfolio-item graphic-design">
          <div class="he-wrap tpl6">
            <a href="<%= image_path('galeria/g21.jpg') %>"  title="Cartel" data-gallery>
              <img src="<%= image_path('galeria/g21.jpg') %>" alt="Cartel">
          </a>
          </div><!-- he wrap -->
        </div><!-- end col-12 -->               
            </div><!-- portfolio -->
        </div><!-- portfolio container -->
   </div><!--/Portfoliowrap -->


  

   <!--fin de prueba-->
<!-- *****************************************************************************************************************
 PORTFOLIO SECTION
 ***************************************************************************************************************** -->
 <div id="portfoliowrap">
  <div class="portfolio-centered">
    <h3>Algunas de nuestras marcas</h3>
    <div class="recentitems portfolio">
      <% @brands.each do |b| %>
        <div class="portfolio-item graphic-design">
          <div class="he-wrap tpl6">
            <img src="<%= b.logo.url %>" alt="">
            <div class="he-view">
              <div class="bg a0" data-animate="fadeIn">
                <h3 class="a1" data-animate="fadeInDown">Conocé el local</h3>
                <a data-rel="prettyPhoto" href="<%= b.logo.url %>"></a>
                <%= link_to 'Ver más', brand_path(b), class: 'dmbutton a2', "data-animate" => "fadeInUp"%>
              </div><!-- he bg -->
            </div><!-- he view -->    
          </div><!-- he wrap -->
        </div><!-- end col-12 -->
      <% end %>  
    </div><!-- portfolio -->
  </div><!-- portfolio container -->
 </div><!--/Portfoliowrap -->