<!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="<%= image_path('logo.png') %>"></a>
        </div>
        <div class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav">
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">Novo Pacheco</a></li>
            <li class="active"><a href="about.html">Marcas</a></li>
            <li><a href="contact.html">Contacto</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>


  <!-- *****************************************************************************************************************
   TITLE & CONTENT
   ***************************************************************************************************************** -->

   <div class="container mt">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 centered">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol>
        
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <img src="<%= image_path('portfolio/single01.jpg') %>" alt="">
            </div>
            <div class="item">
              <img src="<%= image_path('portfolio/single02.jpg') %>" alt="">
            </div>
            <div class="item">
              <img src="<%= image_path('portfolio/single03.jpg') %>" alt="">
            </div>
          </div>
        </div><!--/Carousel -->
      </div>
      
      <div class="col-lg-5 col-lg-offset-1">
        <div class="spacing"></div>
        <h4>Converse Store</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        <h4>Además</h4>
        <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
      
      <div class="col-lg-4 col-lg-offset-1">
        <div class="spacing"></div>
        <h4>Detalles</h4>
        <div class="hline"></div>
        <p><b>Horario de atención:</b> 9 a 21hs.</p>
        <p><b>Ubicación:</b> Planta baja</p>
        <p><b>Web:</b> www.converse.com</p>
      </div>
      
    </div><!--/row -->
   </div><!--/container -->
   
  <!-- *****************************************************************************************************************
   PORTFOLIO SECTION
   ***************************************************************************************************************** -->
<div id="portfoliowrap">
  <div class="portfolio-centered">
    <h3>Otras marcas</h3>
    <div class="recentitems portfolio">
      <div class="portfolio-item graphic-design">
        <div class="he-wrap tpl6">
          <img src="<%= image_path('portfolio/portfolio_09.jpg') %>" alt="">
          <div class="he-view">
            <div class="bg a0" data-animate="fadeIn">
              <h3 class="a1" data-animate="fadeInDown">Conocé el local</h3>
              <a data-rel="prettyPhoto" href="<%= image_path('portfolio/portfolio_07.jpg') %>"></a>
              <a href="/marca" class="dmbutton a2" data-animate="fadeInUp"><i>Ver más</i></a>
            </div><!-- he bg -->
          </div><!-- he view -->    
        </div><!-- he wrap -->
      </div><!-- end col-12 -->
                          
      <div class="portfolio-item web-design">
        <div class="he-wrap tpl6">
          <img src="<%= image_path('portfolio/portfolio_02.jpg') %>" alt="">
          <div class="he-view">
            <div class="bg a0" data-animate="fadeIn">
              <h3 class="a1" data-animate="fadeInDown">Conocé el local</h3>
              <a data-rel="prettyPhoto" href="<%= image_path('portfolio/portfolio_07.jpg') %>"></a>
              <a href="/marca" class="dmbutton a2" data-animate="fadeInUp"><i>Ver más</i></a>
            </div><!-- he bg -->
          </div><!-- he view -->    
        </div><!-- he wrap -->
      </div><!-- end col-12 -->
      
      <div class="portfolio-item graphic-design">
        <div class="he-wrap tpl6">
          <img src="<%= image_path('portfolio/portfolio_03.jpg') %>" alt="">
          <div class="he-view">
            <div class="bg a0" data-animate="fadeIn">
              <h3 class="a1" data-animate="fadeInDown">Conocé el local</h3>
              <a data-rel="prettyPhoto" href="<%= image_path('portfolio/portfolio_07.jpg') %>"></a>
              <a href="/marca" class="dmbutton a2" data-animate="fadeInUp"><i>Ver más</i></a>
            </div><!-- he bg -->
          </div><!-- he view -->    
        </div><!-- he wrap -->
      </div><!-- end col-12 -->
      
      <div class="portfolio-item graphic-design">
        <div class="he-wrap tpl6">
          <img src="<%= image_path('portfolio/portfolio_04.jpg') %>" alt="">
          <div class="he-view">
            <div class="bg a0" data-animate="fadeIn">
              <h3 class="a1" data-animate="fadeInDown">Conocé el local</h3>
              <a data-rel="prettyPhoto" href="<%= image_path('portfolio/portfolio_07.jpg') %>"></a>
              <a href="/marca" class="dmbutton a2" data-animate="fadeInUp"><i>Ver más</i></a>
            </div><!-- he bg -->
          </div><!-- he view -->    
        </div><!-- he wrap -->
      </div><!-- end col-12 -->

      <div class="portfolio-item graphic-design">
        <div class="he-wrap tpl6">
          <img src="<%= image_path('portfolio/portfolio_05.jpg') %>" alt="">
          <div class="he-view">
            <div class="bg a0" data-animate="fadeIn">
              <h3 class="a1" data-animate="fadeInDown">Conocé el local</h3>
              <a data-rel="prettyPhoto" href="<%= image_path('portfolio/portfolio_07.jpg') %>"></a>
              <a href="/marca" class="dmbutton a2" data-animate="fadeInUp"><i>Ver más</i></a>
            </div><!-- he bg -->
          </div><!-- he view -->    
        </div><!-- he wrap -->
      </div><!-- end col-12 -->
    </div><!-- portfolio -->
  </div><!-- portfolio container -->
</div><!--/Portfoliowrap -->